.m_menu
{
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
}

header
{
    font-size: 3rem;
    margin-bottom: 5rem;
}

.m_menu-buttons
{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    width: calc(100vw/1.5);
    max-width: 25rem;
}